*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: #ecf0f3;
    color: #555;
}

.main-container{
    height: 520px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow:
    13px 13px 20px #999,
    -13px -13px 20px #ffffff
    ;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
}

.main-container h2{
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 20px 0;
    color: cornflowerblue;
}

.step-navigation{
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    margin-top: 10px;
}

.nav,.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: bold;
}

.nav{
    font-weight: 600;
    color: rgba(100, 148, 237, 0.863);
}

.nav-bar{
    margin-top: 10px;
}

.nav-bar::before{
    position: absolute;
    content: "";
    height: 6px;
    width: 70%;
    margin-top: 12px;
    margin-left: 30px;
    background: rgb(0, 0, 0, .1);
    z-index: 1;
}

.line{
    position: absolute;
    height: 6px;
    margin-top: 22px;
    margin-left: 30px;
    background: cornflowerblue;
    z-index: 2;
}

.nav div,.nav-bar div{
    margin: 0 auto;
}

.nav-bar div{
    height: 25px;
    line-height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: 
	0 0 0 4px #e2e8ee,
	0 0 2px #fff,
	8px 8px 15px #a7aaaf,
	-8px -8px 15px #ffffff	
    ;
    user-select: none;
    z-index: 2;
}

.nav-bar div:nth-child(1){
    background: cornflowerblue;
    color: #fff;
}

.input-section-main{
    overflow: hidden;
}

.name,.contact,.birth,.submit{
    position: absolute;
    height: 400px;
    width: 330px;
    top: 37%;
    left: 200%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    transition: all .6s;
}


.name{
    left: 50%;
}

.name h2,
.contact h2,
.birth h2,
.submit h2{
    text-align: initial;
    font-family: sans-serif;
    color: rgba(100, 148, 237, 0.76);
    font-weight: 600;
    font-size: 20px;
}

.name label,
.contact label,
.birth label{
    margin: 5px 0;
    font-size: 18px;
    letter-spacing: 1px;
}

.input{
    margin-bottom: 5px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: none;
    background: #ecf0f3;
    box-shadow: 
	0 0 0 2px #e2e8ee,
	0 0 2px #fff,
	3px 3px 2px inset #a7aaaf,
	-4px -4px 9px inset #ffffff	
    ;
    padding: 0 20px;
    color: #777;
    letter-spacing: 1px;
    font-size: 18px;
}

.input-date{
    cursor: pointer;
    font-family: sans-serif;
}

.first-button-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}

.button-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.first-button-div button,
.button-div button{
    height: 40px;
    width: 155px;
    background: cornflowerblue;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 
	0 0 0 2px #e2e8ee,
	0 0 2px #fff,
	8px 8px 15px #a7aaaf,
	-8px -8px 15px #ffffff	
    ;
    font-size: 18px;
    font-weight: bold;
    color: rgb(245, 238, 238);
    cursor: pointer;
}

.submit ol{
    padding-left: 22px;
    font-family: sans-serif;
}

.condition-div{
    margin-top: 20px;
    margin-bottom: 28px;
    padding-left: 2px;
}


/*They'll use in jquery*/

.contact.open,
.birth.open,
.submit.open{
    left: 50%;
}

.name.done,
.contact.done,
.birth.done{
    left: -200%;
}


.line.two{
    width: 22%;
}

.line.three{
    width: 44%;
}

.line.four{
    width: 70%;
}


/*Calling Divs By ID*/

#two.active,
#three.active,
#four.active{
    background: cornflowerblue;
    color: #fff;
}